# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Test
.coverage
.pytest_cache/

# OS
.DS_Store
Thumbs.db